*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: grey;
}

h1{
    font-size: 40px;
    font-weight: 700;
}

img,
.wrapper div{
    cursor: pointer;
}

.wrapper div:hover{
    color: #a927e6;
}

.flex{
    display: flex;
    align-items: center;
}

.flex_li{
    display: flex;
    justify-content: space-between;
}

.star{
    height: 34px;
    margin-right: 20px;
}

.small_img{
    height: 20px;
    float: right;
}

p{
    margin: 30px 0 0 0;
}

ul{
    list-style-type: none;
}

li{
    align-content: center;
    margin: 40px 0;
}

body{
    font-size: 14px;
    background-color:#f9eeff;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
}

.background_img{
    height: 250px;
    background-image:url(../img/background-pattern-desktop.svg);
}

.wrapper{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 30px;
    margin: -9.5% auto;
}

@media screen and (max-width:380px) {
  .wrapper {
  width: 90%;
  margin: -30.5% auto; 
  }

  .star{
    height: 28px;
    margin-right: 20px;
    }

    .small_img{
    height: 28px;
    margin-left: 30px;
    float: right;
    }

}