/*GENERALI*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: hsl(292, 42%, 14%);
    font-size: 16px;
    background-color:#f9eeff;
    font-family: "WorkSans", Arial, Helvetica, sans-serif;
}

#paraShow{
    color: hsl(0, 0%, 54%);
    font-size: 14px;
    display: none;
    margin: 10px 0;
}

h1{
    font-size: 40px;
    font-weight: 700;
}

hr{
    color: rgba(220, 220, 220, 0.339);
}

main{
    position: relative;
    height: 800px;
}

/*Regole Hover*/

img,
.wrapper div{
    cursor: pointer;
}

.wrapper div:hover{
    color:#a927e6;
}

/*Regole Flex*/

.flex{
    display: flex;
    align-items: center;
}

.flex_li{
    display: flex;
    justify-content: space-between;
}

/*Regole immagini*/

.background_img{ 
    position: absolute;
    top: 0%;
    height: 300px;
    background-image:url(../img/background-pattern-desktop.svg);
    background-size: cover;
}

.star{
    height: 34px;
    margin-right: 20px;
}

.small_img{
    height: 20px;
    float: right;
}

/*Regole liste*/

ul{
    list-style-type: none;
}

li{
    align-content: center;
    margin: 20px 0;
}

/*Wrapper*/

.wrapper{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 190px 32vw;
}

/********************************************************/
/*Responsive*/

@media screen and (max-width:380px) {
   .wrapper {
    width: 90%;
    margin: 160px auto; 
   }

   .background_img{
    height: 250px;
    background-image:url(../img/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

    .star{
    height: 28px;
    margin-right: 20px;
    }

    .small_img{
    height: 28px;
    margin-left: 30px;
    float: right;
    }

}